@media(max-width:1400px) {
  section.introduction>h1 {
    font-size: 4em;
    position: absolute;
    bottom: 30%;
    top: 20%;
    left: 5%;
    font-family: Righteous, cursive;
    z-index: 1;
  }
  section.introduction>small.line1 {
    position: absolute;
    left: 5%;
    bottom: 45%;
    top: 35%;
  }
  section.introduction>small.line2 {
    position: absolute;
    left: 5%;
    bottom: 49%;
    top: 41%;
  }
  .introduction:after {
    content: "";
    background-size: 120%;
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width:972px) {
  .introduction:after {
    content: none;
  }
}

@media(min-width:768px) {
  nav.sideNav > ul {
    display: none;
  }
}

@media(max-width:768px) {
  ul.netlify-identity-menu {
    display: block;
  }
}

@media (max-width:730px) {
  .introduction {
    height: 50vh;
    transform: skewY(0deg);
  }
  section.introduction>h1 {
    font-size: 3em;
    position: relative;
    bottom: 0;
    top: 30px;
    left: 0;
    font-family: Righteous, cursive;
    z-index: 1;
    text-align: center;
    transform: skewY(0deg);
  }
  section.introduction>small.line1 {
    position: relative;
    left: 0;
    bottom: 0;
    top: 40px;
    text-align: center;
    transform: skewY(0deg);
  }
  section.introduction>small.line2 {
    position: relative;
    left: 0;
    bottom: 0;
    top: 40px;
    text-align: center;
    transform: skewY(0deg);
  }
  section.instuctionBackground {
    display: none;
  }
  .ProductCards {
    width: 90%;
    margin: 0;
    margin-bottom: 5%;
  }
}